{% extends 'theme/layout/layout.html' %}


{% block content %}
   <!-- Start Banner
    ============================================= -->
    <div class="banner-area with-fixed-nav">
        <div class="shape-right-bottom shape opacity-default">
            <img src="/static/assets/img/shape/13.png" alt="Shape">
        </div>
        <div class="container">
            <div class="double-items">
                <div class="row align-center">

                    <div class="col-lg-6 order-last thumb width-130 wow fadeInRight" data-wow-duration="1s">
                        <img src="/static/assets/img/illustration/2.png" alt="Thumb">
                    </div>

                    <div class="col-lg-6 info">
                        <h2 class="wow fadeInDown" data-wow-duration="1s">Мы лучшие в создании <strong><span class="typed-words"></span></strong></h2>
                        <p class="wow fadeInLeft" data-wow-duration="1.5s">
                            Проектируем бизнес-процессы, интерфейсы и техническую архитектуру веб-проектов под ваши уникальные потребности.
                            Разрабатываем серверные API:<br>
                            <strong>Django Rest Framework, Django, Laravel, MySQL.</strong><br>
                            Верстаем и программируем интерфейсы:<br>
                            <strong>JavaScript, TypeScript, Vue и React.</strong>
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" data-wow-duration="1.8s" href="https://t.me/AIlab73">Заказать услугу</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Star Features Area
    ============================================= -->
    <div class="features-area default-padding-bottom">
        <!-- Fixed Shape  -->
        <div class="shape-left-top shape opacity-01">
            <img src="/static/assets/img/shape/4.png" alt="Shape">
        </div>
        <!-- Fixed Shape  -->
        <div class="container">
            <div class="features-items">

                <div class="feature-box text-center">
                    <div class="row">
                        <!-- Single Item -->
                        <div class="single-item col-lg-4 col-md-6">
                            <div class="item wow fadeInUp" data-wow-delay="400ms">
                                <div class="icon">
                                    <i class="fas fa-link"></i>
                                </div>
                                <h4>Интеграция команды</h4>
                                <p>
                                    Подключаемся к вашей команде для совместной работы над проектом.
                                    Обеспечиваем экспертизу от тимлидов с опытом веб-разработки более 15 лет.
                                    В короткие сроки масштабируем команду и ускоряем доставку кода в продакшен.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item col-lg-4 col-md-6">
                            <div class="item wow fadeInUp" data-wow-delay="500ms">
                                <div class="icon">
                                    <i class="fas fa-headset"></i>
                                </div>
                                <h4>Поддержка и развитие</h4>
                                <p>
                                    Принимаем действующие веб-проекты на полное или частичное сопровождение.
                                    Проводим аудит качества интерфейсов и исходного кода. Наводим порядок, актуализируем технологии.
                                    Реализуем новую функциональность и исправляем ошибки действующей.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item col-lg-4 col-md-6">
                            <div class="item wow fadeInUp" data-wow-delay="600ms">
                                <div class="icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <h4>SEO-продвижение для бизнеса</h4>
                                <p>
                                    Работаем на перспективные отношения — формируем четкую стратегию на старте, практикуем консультации со специалистами, согласовываем и объясняем все работы
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Features Area -->

    <!-- Start Why Choose Us
    ============================================= -->
    <div class="choose-us-area default-padding-bottom">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 thumb wow fadeInLeft">
                    <img src="/static/assets/img/illustration/7.png" alt="Thumb">
                </div>
                <div class="col-lg-6 info wow fadeInUp" data-wow-delay="0.5s">
                    <h2>Мы предлагаем полный спектр<br> <strong>Web</strong> услуг!</h2>
                    <p>
                        Любим уникальные, технологичные проекты, где много неопределенности. Успешно запустили продукты в сферах:

                    </p>
                    <ul>
                        <li>
                            <h5>E-commerce</h5>
                            <p>
                                Интернет магазины
                            </p>
                        </li>
                        <li>
                            <h5>Образование</h5>
                            <p>Обучающие площадки</p>
                            <p>Электронные дневники</p>
                            <p>Event-карточки</p>
                        </li>
                        <li>
                            <h5>Автоматизация</h5>
                            <p>Docker</p>
                            <p>CI/CD автоматизации</p>
                        </li>
                        <li>
                            <h5>Корпоративные решения</h5>
                            <p>Локальный корпоративный проект</p>
                            <p>Складские решения</p>
                            <p>API интеграция</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us -->

    <!-- Start Services Area
    ============================================= -->
    <div class="services-area carousel-shadow bg-gray default-padding-top">
        <!-- Fixed Shape  -->
        <div class="shape-bottom">
            <img src="/static/assets/img/shape/1.svg" alt="Shape">
        </div>
        <!-- Fixed Shape  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>Что мы делаем?</h5>
                        <h2>
                           Познакомиться с нами<br>
                            через наши работы
                        </h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="services-items wow fadeInUp services-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                {% for serv in portfolio %}
                <div class="item">
                    <div class="icon">
                        <img src="{{ serv.image.url }}" alt="{{ serv.title }}" style="background-size: cover">
                    </div>
                    <div class="info">
                        <h4>
                            <a href="{% url 'portfolio:portfolio_detail' serv.id %}">{{ serv.title }}</a>
                        </h4>
                        <a href="{% url 'portfolio:portfolio_detail' serv.id %}"><i class="fas fa-arrow-right"></i> Узнать больше</a>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Services Area -->

    <!-- Start Process Area
    ============================================= -->
    <div class="process-area default-padding-top">
        <div class="container">
            <div class="process-items">
                <div class="row align-center">

                    <div class="col-lg-6 thumb wow fadeInLeft">
                        <img src="/static/assets/img/illustration/3.png" alt="Thumb">
                    </div>

                    <div class="col-lg-6 info wow fadeInUp">
                        <h2>Почему именно мы?  <strong>4 причины выбрать нас</strong></h2>
                        <div class="content">
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <h4><strong>01.</strong> В сроки сдаем работу</h4>
                                <p>
                                    Не пропадаем после получения предоплаты, как многие фрилансеры. Расписываем каждый этап по срокам и пользуемся принципом несдвигаемых дедлайнов
                                </p>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <h4><strong>02.</strong> Работаем по договору</h4>
                                <p>
                                    Работаем честно и по договору. Это гарантия стоимости, сроков + качества продукта и выполнения поставленных требований
                                </p>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <h4><strong>03.</strong> Аргументируем</h4>
                                <p>
                                    Готовы обосновать каждый шаг. Создаем стратегию и дизайн на основе анализа рынка. Это позволяет увеличить узнаваемость вашей компании и обойти конкурентов
                                </p>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                <h4><strong>04.</strong> Рекомендуем</h4>
                                <p>
                                    Хорошее дизайн-агенство погружается в бизнес. Это позволяет найти нужные решения и сделать правильные выводы, в том числе дать рекомендации и советы
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Process Area -->

    <!-- Start Case Studies
    ============================================= -->
    <div class="case-studies-area circle-shape-right default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>Готовые решения для вас</h5>
                        <h2>
                            Посмотреть список готовых решений<br>
                                   в виде кейсов
                        </h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="case-items">
                <div class="row">
                    {% for case in cases %}
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item  wow fadeInUp" data-wow-delay="400ms">
                            <div class="thumb">
                                <img src="{{ case.image.url }}" alt="{{ case.title }}">
                                <div class="overlay">
                                    <a href="{% url 'case:detail' case.id %}"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="info">
                                <div class="cats">
                                    <p>
                                        {{ case.category }}
                                    </p>
                                </div>
                                <h5>
                                    <a href="{% url 'case:detail' case.id %}">{{ case.title }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Case Studies -->

    <!-- Start Clients
    ============================================= -->
    <div class="clients-area text-light bg-gradient default-padding-mx">
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url(/static/assets/img/map.svg);"></div>
        <!-- Fixed BG -->
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5 info">
                    <h2>Работаем с новыми технологиями, <strong> упрощаем и автоматизируем</strong> процесс разработки</h2>
                </div>
                <div class="col-lg-7">
                    <div class="clients-carousel owl-carousel owl-theme">
                        <div class="item">
                            <img src="/static/assets/img/tech/docker-1.svg" alt="Docker">
                        </div>
                        <div class="item">
                            <img src="/static/assets/img/tech/logo-kubernetes.svg" alt="Kubernetes">
                        </div>
                        <div class="item">
                            <img src="/static/assets/img/tech/Django_logo.svg" alt="Django">
                        </div>
                        <div class="item">
                            <img src="/static/assets/img/tech/Font_Awesome_5_brands_react.svg" alt="React">
                        </div>
                        <div class="item">
                            <img src="/static/assets/img/tech/Next.js_Logotype_Light_Background.svg" alt="Next.js">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fixed Shape -->
        <div class="shape-bottom">
            <img src="/static/assets/img/shape/8.png" alt="Shape">
        </div>
        <!-- Fixed Shape -->
    </div>
    <!-- End Clients -->

    <!-- Start Testimonials
    ============================================= -->
    <div class="testimonials-area default-padding">
        <div class="container">
            <div class="testimonial-items">
                <div class="row align-center">
                    <div class="col-lg-5 wow fadeInLeft">
                        <div class="client-thumb">
                            <img src="/static/assets/img/tech/logo-kubernetes.svg" alt="Thumb">
                            <img src="/static/assets/img/tech/docker-1.svg" alt="Thumb">
                            <img src="/static/assets/img/tech/Next.js_Logotype_Light_Background.svg" alt="Thumb">
                            <img src="/static/assets/img/tech/Django_logo.svg" alt="Thumb">
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 testimonial-content wow fadeInRight">
                        <div class="heading">
                            <h2>Что о нас говорят после сотрудничества</h2>
                        </div>
                        <div class="testimonials-carousel owl-carousel owl-theme">
                            {% for answer in answers %}
                            <!-- Single Item -->
                            <div class="item">
                                <p>
                                    {{ answer.content }}
                                </p>
                                <div class="author">
                                    <div class="info">
                                        <h5>{{ answer.full_name }}</h5>
                                        <span>{{ answer.company }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Area -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area default-padding bottom-less bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>Последние новости</h5>
                        <h2>Оставайтесь в курсе <br> последних & популярных Новостей</h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="blog-items content-less">
                <div class="row">
                    {% for post in posts %}
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item wow fadeInUp" data-wow-delay="600ms">
                            <div class="thumb">
                                <a href="{% url 'blog:blog-detail' post.id %}">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li><i class="fas fa-calendar-alt"></i> {{ post.date }}</li>
                                        <li>Автор <a href="{% url 'blog:blog-detail' post.id %}">{{ post.author }}</a></li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="{% url 'blog:blog-detail' post.id %}">{{ post.title }} </a>
                                </h4>
                                <a class="btn circle btn-theme border btn-sm" href="{% url 'blog:blog-detail' post.id %}">Читать далее <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area -->
{% endblock %}