<!DOCTYPE html>
<html lang="ru">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LQKPRKV6QF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LQKPRKV6QF');
</script>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="a96e0cc0e25f5f1c" />
    <!-- ========== Page Title ========== -->
    <title>Ailab - SEO & Веб-студия</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="/static/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="/static/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/static/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/static/assets/css/animate.css" rel="stylesheet" />
    <link href="/static/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="/static/assets/css/responsive.css" rel="stylesheet" />
    <link href="/static/assets/css/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2125fda6d8.js" crossorigin="anonymous"></script>
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/static/assets/js/html5/html5shiv.min.js"></script>
      <script src="/static/assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
	
</head> 
<body>

    <!-- Preloader Start -->
    {% include 'theme/layout/block/preloader.html' %}
    <!-- Preloader Ends -->

    <!-- Start Header Top
    ============================================= -->
    {% include 'theme/layout/block/header-contact.html' %}
    <!-- End Header Top -->

    <!-- Header
    ============================================= -->
    {% include 'theme/layout/block/header.html' %}
    <!-- End Header -->

    {% block content %}
    {% endblock %}

    <!-- Start Footer
    ============================================= -->
    {% include 'theme/layout/block/footer.html' %}
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    {% include 'theme/layout/block/script.html' %}
</body>
</html>
