<!-- Start Footer
============================================= -->
<footer class="bg-dark text-light">
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item about">
                        <img src="/static/assets/img/logo2.png" alt="Logo">
                        <div class="address">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-email"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Email:</h5>
                                        <span>admin@ailab73.ru</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-telegram"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Telegram:</h5>
                                        <span><a href="https://t.me/AIlab73">@AIlab73</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Компания</h4>
                        <ul>
                            <li>
                                <a href="{% url 'index:index' %}">Главная</a>
                            </li>
                            <li>
                                <a href="{% url 'case:index' %}">Кейсы</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:blog' %}">Блог</a>
                            </li>
                            <li>
                                <a href="#">Услуги</a>
                            </li>
                            <li>
                                <a href="{% url 'social:index' %}">Связаться с нами</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Пользователям</h4>
                        <ul>
                            <li>
                                <a href="https://t.me/ailab73">Вакансии</a>
                            </li>
                            <li>
                                <a href="https://t.me/ailab73">Сотрудничество</a>
                            </li>
                            <li>
                                <a href="https://t.me/ailab73">Рекламная компания</a>
                            </li>
                            <li>
                                <a href="https://timeweb.com/">Лучший хостинг</a>
                            </li>
                            <li>
                                <a href="{% url 'social:index' %}">Задать вопрос</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy;   2022. Создатель <a href="https://github.com/D1epak">D1epak</a></p>
                </div>
                <div class="col-md-6 text-right link">
                    <ul>
                        <li>
                            <a href="#">Правила</a>
                        </li>
                        <li>
                            <a href="#">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="https://t.me/ailab73">Тех.Поддержка</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->