<div class="top-bar-area bg-dark text-light">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-7 address-info">
                <div class="info box">
                    <ul>
                        <li>
                            <a href="mailto:admin@ailab73.ru">
                                <i class="fas fa-envelope-open"></i>
                                Почта
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/ailab73"><i class="fa-brands fa-telegram"></i>Телеграм</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 text-right button">
                <div class="item-flex">
                    <a class="button" href="https://t.me/ailab73">
                        <i class="fa-brands fa-facebook-messenger"></i>
                        Бесплатная консультация
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
